{{ if .Site.Params.loadFavicon }}
  {{ with .Site.Params.faviconVersion }}
    {{ $.Scratch.Set "favVer" "-" }}
    {{ $.Scratch.Add "favVer" . }}
  {{ else }}
    {{ $.Scratch.Set "favVer" "" }}
  {{ end }}

  {{ $favVer := $.Scratch.Get "favVer" }}

  <link rel="apple-touch-icon-precomposed" href='{{ "favicon/apple-touch-icon-precomposed" | relURL }}{{ $favVer }}.png'>
  <link rel="icon" href='{{ "favicon/favicon" | relURL }}{{ $favVer }}.png'>
  <!--[if IE]><link rel="shortcut icon" href='/favicon{{ $favVer }}.ico'><![endif]-->
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content='{{ "favicon/mstile" | relURL }}{{ $favVer }}.png'>
  <meta name="application-name" content="{{ .Site.Title }}">
  <meta name="msapplication-tooltip" content="{{ .Site.Params.Description }}">
  <meta name="msapplication-config" content='{{ "favicon/ieconfig.xml" | relURL }}'>

{{ else }}

  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">

{{ end }}
